<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Ludwig van Beethoven</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img
        src="../../assets/ludwigbeethoven.jpg"
        alt="Portrait of Beethoven: Source from https://pixabay.com/"
      />
    </div>
    <div class="col-sm-9">
      <p>
        Ludwig van Beethoven was a famous German composer who was born on
        December 17, 1770, in Bonn, Germany, and passed away on March 26, 1827,
        in Vienna, Austria. He played a crucial role in the transition from the
        Classical to the Romantic era in music. Beethoven is considered one of
        the greatest music composers ever. His music was inspired by the
        classical traditions of Joseph Haydn and Mozart, but he also
        incorporated new ideas related to humanism and nationalism. Some of his
        well-known works include the “Archduke Trio”, “Battle Symphony”, “Eroica
        Symphony”, and “Moonlight Sonata”.
        <em class="apa-reference">
          <a
            href="https://www.britannica.com/biography/Ludwig-van-Beethoven"
            target="_blank"
            >Source</a
          >
        </em>
      </p>
    </div>
  </div>
</div>
