<!--
============================================
; Title:  home.component.html
; Author: Victor Soto
; Date:   05/05/2024
; Source: https://github.com/buwebdev/web-425/blob/master/week-7
;===========================================
-->

<div fxLayout="row wrap" fxLayoutGap="20px">
  <!-- Grade Form -->
  <div fxFlex class="grade-form">
    <mat-card>
      <mat-card-title>Grade Entry</mat-card-title>
      <mat-card-content>
        <!-- Add the FormGroup to the HTML form and the onSubmit() function to the ngSubmit directive -->
        <form [formGroup]="transcriptForm" (ngSubmit)="onSubmit($event); transcriptForm.reset()">
          <mat-form-field>
            <mat-label>Course</mat-label>
            <!-- Replace the ngModel “banana in a boat” calls to formControlName entries -->
            <input matInput id="txtCourse" formControlName="course">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade" name="selectGrade">
              <mat-option *ngFor="let grade of selectableGrades" [value]="grade"> {{ grade }} </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Remove the click event from the form, change the buttons type to submit, and disable it when the form is invalid -->
          <button mat-raised-button color="primary" id="btnSave" type="submit" [disabled]="!transcriptForm.valid">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Grade Summary -->
  <div fxFlex class="grade-summary">
    <mat-card>
      <mat-card-title>Transcript</mat-card-title>
      <mat-card-content>
        <app-grade-summary *ngFor="let entry of transcriptEntries" [course]="entry.course" [grade]="entry.grade"></app-grade-summary>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- GPA -->
<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex class="gpa">
    <button mat-button color="primary" (click)="calculateResults()">Calculate GPA</button>
    <mat-card>
      <mat-card-title style="text-align:center">GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa></mat-card-title>
    </mat-card>
  </div>
</div>